<div class="footer">
    <div class="chungnhan">
        <div id="logo">
            <img src="img/hotro/logobocongthuong.png" />
        </div>
        <div id="chinhsach">
            <ul id>
                <li>
                    <ion-icon name=" caret-forward-outline "></ion-icon>Chính sách bảo mật
                </li>
                <li>
                    <ion-icon name="caret-forward-outline "></ion-icon>Chính sách bán hàng
                </li>
                <li>
                    <ion-icon name="caret-forward-outline "></ion-icon>Chính sách bảo mật
                </li>
                <li>
                    <ion-icon name="caret-forward-outline "></ion-icon>Chính sách bán hàng
                </li>
            </ul>
            <ul>
                <li>
                    <h5>
                        <ion-icon name="map-outline"></ion-icon>
                        Địa chỉ: Phường Xuân Khánh, Quận Ninh Kiều, TP Cần Thơ
                    </h5>
                </li>
            </ul>
        </div>
    </div>
    <div class="title ">
        <h3>SÀN TMĐT TRAO ĐỔI MUA BÁN ĐỒ CHƠI TRẺ EM GIÁ RẺ</h3>
    </div>
</div>