<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .main_hotro {
        margin: 0px auto;
        padding: 0px auto;
        width: 1800px;
        height: 1180px;
        clear: left;
        z-index: 1;
        position: relative;
        transform: translateY(-30%);
        background-color: rgb(255, 206, 8);
    }
    
    .main_hotro .linkdangky {
        /* z-index: 1; */
        position: absolute;
        transform: translate(37.5rem, 36.2rem);
    }
    
    .main_hotro .linkdangky a:hover {
        color: seashell;
    }
</style>

<body>
    <div class="main_hotro">
        <div class="linkdangky">
            <h3>
                <a href="login/formdangky.php" style="color: red;">Tại đây</a>
            </h3>
            <h5 style="transform: translate(0rem, 0.8rem);">
                <a href="login/formdangnhap.php" style="color: red;">Đăng nhập</a>
            </h5>
        </div>
        <img src="img/hotro/hotro.png" />
    </div>
</body>

</html>